.chord{
    font-weight: bold;
}

.chorus{
    background-color: rgb(242, 246, 250);
}

.dark .chorus{
    background-color: #242424;
}

.song{
    text-align: center;
}

.songContent{
    text-align: left;
    display: inline-block;
}