.column {
  display: inline-block;
  margin-right: 2px;
}

.paragraph {
  margin-bottom: 20px;
}

.menu {
  background-color: rgb(238, 245, 251);
  margin-bottom: 4px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;  
}

.menu li{
    display: inline;
}

.menu a{
  padding: 12px;
  text-decoration: none;
  text-align: center;
  color: unset;
  text-transform: uppercase;
}

.menu a:hover{
  background-color: rgb(194, 218, 240);
}

a.active {
  font-weight: bold;
}